.logo{
    width:140px;
}

.dropdown-toggle::after{
    position: absolute;
    top:50px;
}

.dropdown-toggle{
    position: relative;
}

.dropdown-menu{
    width:470px;
    box-shadow: 1px 1px rgb(191, 200, 202);
    border:0px;
}

.Delivery-Dropdown h5{
    font-size:14px;
    color:black;
    padding-left: 10px;
    
} 

.Delivery-Dropdown div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 10px;
    
}

.Delivery-Dropdown div button{
    font-size: 16PX;
    background-color: green;
    border-radius: 5PX;
    
}

.Delivery-Dropdown div input{
    font-size: 16PX;
    border-radius: 5PX;
    
    

}

.Delivery-Dropdown div span{
    border: 1px solid lightgray;
    width: 25px;
     height: 25px;
    font-size: 10px;
    text-align: center;
    border-radius: 100px;
    line-height: 25px ;
    position: relative;
    
    
}

.Delivery-Dropdown div span:before{
    content: "";
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left:105%;
    width:10px;
    height: 1px ;
    background-color: rgb(163, 155, 155);
}

.Delivery-Dropdown div span:after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(163, 155, 155);
    height: 1px;
    width: 10px;
    right:105%;
}

.form-control{
    width:900px;
    border-radius: 10px;
    
    
}


.cont{
    position :relative;
}

.cont>span{
    position: absolute;
    left:5px;
    top:3px;
    font-size: 25px;

    
}

.container img{
    align-items: center;
    width:100%;

}
.cust_1 div span{
    font-size: 10px;
    margin-left: 3px;
}

.cust_1 div span img{
    width:11px;
    height: 11px;
    font-size: 11px;    

}


.cust_1 div img{
    width:140px;
    height: 140px;    

}

.cust_1 div{
    margin-right: 10px;    

}

.cust_1{
    
}



